################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build/ZERO_CHECK.vcxproj.filters
/build/ZERO_CHECK.vcxproj
/build/src/Project.vcxproj.filters
/build/src/Project.vcxproj
/build/src/cmake_install.cmake
/build/src/CMakeFiles/generate.stamp.depend
/build/src/CMakeFiles/generate.stamp
/build/ext/glew-1.10.0/glew.vcxproj.filters
/build/ext/glew-1.10.0/glew.vcxproj
/build/ext/glew-1.10.0/GLEW.sln
/build/ext/glew-1.10.0/cmake_install.cmake
/build/ext/glew-1.10.0/CMakeFiles/generate.stamp.depend
/build/ext/glew-1.10.0/CMakeFiles/generate.stamp
/build/ext/glew-1.10.0/ALL_BUILD.vcxproj.filters
/build/ext/glew-1.10.0/ALL_BUILD.vcxproj
/build/COMP308_Project.sln
/build/COMP308_Project.sdf
/build/COMP308_Project.opensdf
/build/cmake_install.cmake
/build/CMakeFiles/TargetDirectories.txt
/build/CMakeFiles/generate.stamp.list
/build/CMakeFiles/generate.stamp.depend
/build/CMakeFiles/generate.stamp
/build/CMakeFiles/feature_tests.cxx
/build/CMakeFiles/feature_tests.bin
/build/CMakeFiles/CMakeOutput.log
/build/CMakeFiles/cmake.check_cache
/build/CMakeFiles/3.3.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
/build/CMakeFiles/3.3.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
/build/CMakeFiles/3.3.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
/build/CMakeFiles/3.3.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
/build/CMakeFiles/3.3.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
/build/CMakeFiles/3.3.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
/build/CMakeFiles/3.3.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
/build/CMakeFiles/3.3.0/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
/build/CMakeFiles/3.3.0/CompilerIdCXX/CompilerIdCXX.vcxproj
/build/CMakeFiles/3.3.0/CompilerIdCXX/CompilerIdCXX.exe
/build/CMakeFiles/3.3.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
/build/CMakeFiles/3.3.0/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
/build/CMakeFiles/3.3.0/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
/build/CMakeFiles/3.3.0/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
/build/CMakeFiles/3.3.0/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
/build/CMakeFiles/3.3.0/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
/build/CMakeFiles/3.3.0/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
/build/CMakeFiles/3.3.0/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
/build/CMakeFiles/3.3.0/CompilerIdC/Debug/CMakeCCompilerId.obj
/build/CMakeFiles/3.3.0/CompilerIdC/CompilerIdC.vcxproj
/build/CMakeFiles/3.3.0/CompilerIdC/CompilerIdC.exe
/build/CMakeFiles/3.3.0/CompilerIdC/CMakeCCompilerId.c
/build/CMakeFiles/3.3.0/CMakeSystem.cmake
/build/CMakeFiles/3.3.0/CMakeRCCompiler.cmake
/build/CMakeFiles/3.3.0/CMakeDetermineCompilerABI_CXX.bin
/build/CMakeFiles/3.3.0/CMakeDetermineCompilerABI_C.bin
/build/CMakeFiles/3.3.0/CMakeCXXCompiler.cmake
/build/CMakeFiles/3.3.0/CMakeCCompiler.cmake
/build/CMakeFiles/0d968ac396882b4bf1f2701f73f22d43/generate.stamp.rule
/build/CMakeCache.txt
/build/ALL_BUILD.vcxproj.filters
/build/ALL_BUILD.vcxproj
/build/.vs/COMP308_Project/v14/.suo
